.UserItem {
    display: flex;
    justify-content: space-between;
    width: 78%;
    padding: 10px;
    margin: 5px;
    text-align: left;
    border: 1px solid  rgba(19, 19, 19, 0.3);
    border-radius:  5px;
}

.UserItem-right {
    display: flex;
    justify-content: space-between;
}

.UserItem-button {
    font-size: 18pt;
    color: green;
    margin: 10px;
    cursor: pointer;
}
.UserItem-delete {
    font-size: 18pt;
    color: #ff6666;
    margin: 10px;
    cursor: pointer;
}

.UserItem-delete:hover {
    color:red;
}

.UserItem-button:hover {
    color:#3e8e41;
}

@media only screen and (max-width: 1024px) {
    .UserItem {
      width: 96.5%;
    }
}

@media only screen and (max-width: 1273px) and (min-width: 1025px) {
    .UserItem {
      width: 72.5%;
    }
}

.UserItem-id {
    float: left;
    clear: left;
}
.UserItem-id font {
    color:green;
}
#user-image{
    width: 10%;
}
.UserItem-create{
    color:blue;
    font-size: 18pt;
    margin: 10px;
    cursor: pointer;
}
.UserItem-create:hover{
    color:#41a4f0;
}