.MatchItem {
    display: flex;
    justify-content: space-between;
    width: 78%;
    padding: 10px;
    margin: 5px;
    text-align: left;
    border: 1px solid  rgba(19, 19, 19, 0.3);
    border-radius:  5px;
}

.MatchItem-left {
    align-items: center;
    display: flex;
    width:100%;
}

.MatchItem-result {
    align-items: center;
    display: flex;
    width:50%;
}

.MatchItem-right {
    display: flex;
    justify-content: space-between;
}

.MatchItem-button {
    font-size: 18pt;
    color: green;
    margin: 18px 0px 0px 0px;
    cursor: pointer;
}

.MatchItem-button:hover {
    color:#3e8e41;
}

.nav-menu  .MatchItem {
    width: 96.5%;
  
}

@media only screen and (max-width: 1024px) {
    .MatchItem {
      width: 96.5%;
    }
}

@media only screen and (max-width: 1273px) and (min-width: 1025px) {
    .MatchItem {
      width: 72.5%;
    }
}
#match-image{
    width: 10%;
}
.MatchItem-create{
    color:blue;
    font-size: 18pt;
    margin: 10px;
    cursor: pointer;
}
.MatchItem-create:hover{
    color:#41a4f0;
}

.MatchItem-delete {
    font-size: 18pt;
    color: #ff6666;
    margin: 18px 5px 0px 0px;
    cursor: pointer;
}

.MatchItem-delete:hover {
    color:red;
}

